<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Beca alimenticia ITT</title>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <a href="/" class="navbar-brand">Inicio</a>
        <ul class="nav navbar-nav">
          <li><a href="/login">Alumno</a></li>
          <li><a href="/loginDocente">Docente</a></li>
        </ul>
      </nav>
    </header>

    <!-- MAIN CONTENT HERE -->
    <%- defineContent('heros') %>
    <main>
      <div class="container">
            <%- body %>
       </div>
    </main>
    <footer>Sistema de becas. Copyright &copy; 2020</footer>
  </body>
</html>