<%- contentFor('body') %>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
    <h2>Beca Alimenticia</h2>
    <br>
    <img src="becabanner.png" alt="Beca Alimenticia Banner" > <!--width="200" height="200"-->

    <a href="/personales" class="btn btn-lg btn-primary">Solicitar beca</a>
  </div>
</div>
</div>
