<%- contentFor('body') %>
<div class="jumbotron text-center">
  <form action="/login" method="GET"> 
    <!-- <form action="/venta" method="GET">--> 
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h3>Ingrese su información de usuario</h3>
          <br>
          <div class="form-group">
            <label>Correo institucional</label>
            <input type="email" name="correoA" class="form-control" required placeholder="alguien@tectijuana.edu.mx">
          </div>
          <div class="form-group">
          <label>Constraseña</label>
            <input type="password" name="passworA" class="form-control" required placeholder="********">
          </div>

          <div class="form-group text-right">
            <a href="/personales"  class="btn btn-primary btn-lg">Iniciar sesión</a>
          </div> 
      </div>
     </div>
    </form>
</div>